#bestPractice_detail_header,#bestPractice_detailedDescription{
	display: block;
	float:left;	
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}


#bestPractice_detail_header{
	
	height:50px;
	width:900px;
}

#bestPractice_detail_header table {
	
	color:#003367;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: 700;
}



#bestPractice_detailedDescription{
	
	background:#E5E4E2;
	font-size:12px;
	height:200px;
	width:900px;
}

#save_button_div{
	
	display:block;
	float:left;
	top:10px;
	left:750px;
	position:relative;
	top:20px;
}
