#bestPractice_detail,#bestPractice_detailedDescription{
	display: block;
	float:left;	
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}


#bestPractice_detail{
	
	height:50px;
	width:900px;
}

#bestPractice_detail table {
	
	color:#003367;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight: 700;
}

#bestPractice_detail table td {
	padding-top: .2em;
	padding-bottom: .2em;
}

#bestPractice_detailedDescription{
	
	background:#E5E4E2;
	font-size:12px;
	height:200px;
	width:900px;
}
