#bestPractice_detail,#problem_statement_Description,#solutionDescription{
	display: block;
	float:left;	
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}


#bestPractice_detail{
	
	width:900px;
}

#bestPractice_detail table {
	
	color:#003367;
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
}

#bestPractice_detail table td {
	padding-top: .2em;
	padding-bottom: .2em;
}

#problem_statement_Description{
	
	background:#ffffff;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100px;
	height:auto;
	padding-left:10px;
	padding-top:10px;
	width:890px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#solutionDescription{
	
	background:#ffffff;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 200px;
	height:auto;
	padding-left:10px;
	padding-top:10px;
	width:890px;
	white-space: pre-wrap;
	word-wrap: break-word; 
}

#problem_statement_DescriptionTitle,#solutionTitle{
	
	background: #febf01; /* Old browsers */
	background: -moz-linear-gradient(top, #febf01 0%, #febf01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#febf01), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #febf01 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #febf01 0%,#febf01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #febf01 0%,#febf01 100%); /* IE10+ */
	background: linear-gradient(to bottom, #febf01 0%,#febf01 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#febf01',GradientType=0 ); /* IE6-9 */
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:700;
	height:20px;
	padding-left:10px;
	padding-top:5px;
	width:890px;
}