#button_div {
	background: #E5E4E2;
	border-radius: 5px;
	display: block;
	height: 50px;
	left:25px;
	position: relative;
	top:75px;
	width: 1200px;
}

#button_div > ul {
	list-style: inside none;
	margin: 0;
	padding: 0;
}

#button_div ul  li {
	display: inline-block;
}

#title {
	background:#6AA121;
	border-radius: 5px 0 0 5px ;
	color:#ffffff;
	display: table-cell;
	float:none;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	height : 50px;
	position: relative;
	margin :1px;
	vertical-align: middle;
	width: 690px;
}

.button ,.button_active{
	border:none;
	border-radius: 10px;
	color:#ffffff;
	font-weight: 700;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	top:-20px;
	height : 29px;
	outline: 0;
	position: relative;
	width: 160px;
}

.button {
	background:#808080;
}

.button_active{
	background:#EE9A4D;
}

.button:hover {
	background:#EE9A4D;
	border:none;
	text-decoration: none;
}

#display_div {
	display: block;
	height : 700px;
	left   :25px;
	position: relative;
	top     :100px;
	width   :1200px;
}

#display_div div {
	display: inline-block;
}

#main_div{
	height : 700px;
	display: block;
	width   :850px;
	position: absolute;
}

#view_div{
	height:700px;
	left:900px;
	position: absolute;
	width   :300px;
}

#tabs_div{
	background: #D1D0CE;
	border-radius:5px 5px 0 0;
	display: block;
	height: 50px;
	position: relative;
	width: 850px;
}

#tabs_div > ul {
	list-style: inside none;
	margin: 0;
	padding: 0;
}

#tabs_div ul li {
	display: inline-block;
	margin: 2px;
}

#tab_title {
	background:#D1D0CE;
	color:#OOOOOO;
	display:block;
	float:none;
	font-weight: 700;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	height:15px;
	position: relative;
	vertical-align: middle;
	width:285px;
}

.tab_button,.tab_active  {
	border:none;
	border-radius:5px 5px 0 0; 
	color:#OOOOOO;
	font-weight: 700;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	position: relative;
	width: 174px;
	padding: 0;
	outline:0;
}

.tab_button {
	height : 30px;
	background:#FFF5EE;
	top:12px;
}

.tab_active {
	height : 40px;
	background:#ffffff;
	top:8px;
}


#tab_content_div{
	border-left: 2px solid;
	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color:#D1D0CE;
	display:block;
	height :600px;
	position: relative;
	width: 846px;
}
