#button_div {
	background: #E5E4E2;
	border-radius: 5px;
	display: block;
	height: 50px;
	left:25px;
	position: relative;
	top:75px;
	width: 1200px;
}

#button_div > ul {
	list-style: inside none;
	margin: 0;
	padding: 0;
}

#button_div ul  li {
	display: inline-block;
}

#title {
	background:#6AA121;
	border-radius: 5px;
	color:#ffffff;
	display: table-cell;
	float:none;
	font-weight: 700;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	height : 50px;
	position: relative;
	margin :1px;
	vertical-align: middle;
	width: 690px;
}

.button  {
	background:#808080;
	border:none;
	border-radius: 10px;
	color:#ffffff;
	font-weight: 700;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	top:-20px;
	height : 29px;
	position: relative;
	width: 160px;
}

.button:focus {
    outline: 0;border:none;
}

.button:hover {
	background:#FFA62F;
	border:none;
	text-decoration: none;
}

#display_div {
	display: block;
	height : 700px;
	left   :25px;
	position: relative;
	top     :100px;
	width   :1200px;
}

#display_div div {
	display: inline-block;
}

#questions_div{
	height : 700px;
	display: block;
	width   :850px;
	position: absolute;
}

#viewed_div{
	height:700px;
	left:900px;
	position: absolute;
	width   :300px;
}

#tabs_div{
	background: #D1D0CE;
	border-radius:5px;
	display: block;
	height: 50px;
	position: relative;
	width: 850px;
}

#tabs_div > ul {
	list-style: inside none;
	margin: 0;
	padding: 0;
}

#tabs_div ul li {
	display: inline-block;
}

#tab_title {
	background:#D1D0CE;
	color:#OOOOOO;
	display:block;
	float:none;
	font-weight: 700;
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	height:15px;
	position: relative;
	vertical-align: middle;
	width:313px;
}

.tab_button  {
	background:#ffffff;
	border:none;
	border-radius:5px 5px 0 0; 
	color:#OOOOOO;
	font-weight: 700;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	height : 45px;
	position: relative;
	top:4px;
	width: 174px;
	padding: 0;
}

.tab_button:focus {
    outline: 0;
	border:none;
}

.tab_button:hover {
	text-decoration: none;
	top:5px;
}
