#question_detail {
	height : 800px;
	display: block;
	width   :900px;
	position: absolute;
}

#question_detail_header,#detailedDescription{
	float:left;	
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}


#question_detail_header{
	
	font-size:20px;
	height:50px;
	width:900px;
}


#detailedDescription{
	
	background:#E5E4E2;
	font-size:12px;
	height:200px;
	width:900px;
}