#question_detail_header,#detailedDescription,#recommendedSolution{
	display: block;
	float:left;	
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}


#question_detail_header{
	
	font-size:20px;
	width:900px;
}


#detailedDescription{
	
	background:#FFC2C2;
	font-size:12px;
	width:900px;
	white-space: pre-wrap;
	word-wrap: break-word; 
}


#recommendedSolution{
	
	background:#DBFFDB;
	font-size:12px;
	width:900px;
	position:relative;
	top:20px;
	white-space: pre-wrap;
	word-wrap: break-word; 
}

#answers{
	
	font-size:12px;
	width:900px;
}

.answer_table{
	 display: table;
	 border:0;
	 cellpadding:10px;
	 width:900px;
	 font-family: Arial, Helvetica, sans-serif;
}

.answer_table tr {
	
	align:center;
}

.answer_table td {
	padding-top: .5em;
	padding-bottom: .5em;
}

#answers_div{
	float:left;
}

#answer_box{
	
	display:block;
	float:left;
}

#answer_box input[type=textarea]{
	
	height:200px;
	width :890px;
	position:relative;
	top:40px;
}

#answers_button_div{
	
	display:block;
	float:left;
	top:10px;
	left:750px;
	position:relative;
	top:40px;
}


#answers_button_div input[type=submit]{
	background:#3BB9FF;
	border:none;
	border-radius: 10px;
	color:#ffffff;
	font-weight: 700;
	font-size:15px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	height : 29px;
	outline: 0;
	position: relative;
	width: 150px;
}

#answers_button_div input[type=submit]:hover {
	background:#38ACEC;
	border:none;
	text-decoration: none;
}
