<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
<script>

	$(document).ready(function() {
		buttonClick('question');
		
	});

	function buttonClick(buttonId) {
	
		var x = document.getElementsByClassName("button");
		for (var i = 0; i < x.length; i++) {
			x[i].style.cssText="background:#808080;";
		}
		
		var y = document.getElementsByClassName("button_active");
		y[0].style.cssText="background:#808080;";
		
		var z = document.getElementById(buttonId);
		z.style.cssText="background:#6AA121;";
		
		$.ajax({
				datatype: "html",
				type: "GET",
				url: "{{base_path}}/agile/page?page="+buttonId,
				success: function(response) {
				$("#main_div").empty();
				$("#main_div").html(response);
			},
			error: function(e) {
				alert("Error: " + e);
			}
		});	
	}
 </script>
</head>
<body>
{{> WEB-INF/views/header.mustache}}
<div id="button_div">
	<ul>
		<li><div id="title"><span>&nbsp&nbsp Agile Community</span></div></li>
		<li>&nbsp&nbsp</li>
        <li><button class="button" id="askquestion" onclick="buttonClick('askquestion')">Ask Question</button></li>
    	<li><button class="button" id="library" onclick="buttonClick('library')">Library</button></li>
    	<li><button class="button_active" id="question" onclick="buttonClick('question')">Questions</button></li>
 	</ul>
</div>
<div id="display_div">
	<div id="main_div">
	</div>
	<div id="view_div">
	</div>
</div>
</body>
<html>