<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/header.mustache}}
<link rel="stylesheet" type="text/css" href="{{base_path}}/resources/css/main_page_style.css" />
</head>
<body>
<div id="button_div">
	<ul>
		<li><div id="title"><span>&nbsp&nbsp Agile Community</span></div></li>
		<li>&nbsp&nbsp</li>
        <li><button class="button" id="askQuestions">Ask Question</button></li>
    	<li><button class="button" id="library">Library</button></li>
    	<li><button class="button" id="questions">Questions</button></li>
 	</ul>
</div>
</body>
<html>