<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/header.mustache}}
<link rel="stylesheet" type="text/css" href="{{base_path}}/resources/css/main_page_style.css" />
</head>
<body>
<div id="button_div">
	<ul>
		<li><div id="title"><span>&nbsp&nbsp Agile Community</span></div></li>
		<li>&nbsp&nbsp</li>
        <li><button class="button" id="askQuestions">Ask Question</button></li>
    	<li><button class="button" id="library">Library</button></li>
    	<li><button class="button" id="questions">Questions</button></li>
 	</ul>
</div>
<div id="display_div">
	<div id="questions_div">
		<div id="tabs_div">
			<ul>
				<li><div id="tab_title"><span>&nbsp&nbsp Top Questions<span></div></li>
				<li><button class="tab_button" id="visionToRoadMap">Vision to RoadMap</button></li>
				<li><button class="tab_button" id="roadMapToDeploy">RoadMap to Deploy</button></li>
				<li><button class="tab_button" id="deployToValue">Deploy to Value</button></li>
			</ul>
		</div>
		<div id="tab_content_div">
		</div>
	</div>
	<div id="viewed_div">
	</div>
</div>
</body>
<html>