<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
<script>
	
	$(document).ready(function() {
		
		$( "#openAskQuestionDialog" ).dialog({
			autoOpen: false,
			buttons: {
			
				Submit:function() {
					$('#dialogForm').submit();
				},
				Cancel:function() {
					$('#openAskQuestionDialog').find('form')[0].reset();
					$( "#openAskQuestionDialog" ).dialog("close");
				},
			},
			draggable:false,
			hide:false,
			height:500,
			modal: true,
			resizable:false,
			width:500
		});
	
	});
	
	function askQuestion(){
		$( "#openAskQuestionDialog" ).dialog("open");
	}

	
</script>
</head>
<body>
{{> WEB-INF/views/header.mustache}}
{{> WEB-INF/views/link_navigator.mustache}}
<div id="display_div">
	<div id="main_div">
	
		<div id="openAskQuestionDialog" title="New Question">
			<form id="dialogForm" autocomplete="off" action="{{base_path}}/{{community}}/ask_question/new" method="post" accept-charset="UTF-8">
			<table width=100%>
				<tr>
					<td width=30%>Short Description</td>
					<td width=70%><input type="text" id="shortDesc" {{#form.shortDescription}}value="{{form.shortDescription}}"{{/form.shortDescription}}></td>
				</tr>
				<tr>
					<td width=30%>Detailed Description</td>
					<td width=70%><textarea name="detailDesc" id="detailDesc" {{#form.detailedDescription}}value="{{form.detailedDescription}}"{{/form.detailedDescription}}></textarea></td>
				</tr>
				<tr>
					<td width=30%>Select Category</td>
					<td width=70%>
						<select name="category" id="category">
  							<option value="visiontoroadmap">Vision to roadmap</option>
  							<option value="roadmaptodeploy">Roadmap to deploy</option>
  							<option value="deploytovalue">Deploy to value</option>
  						</select>
					</td>
				</tr>
			</table>
			</form>
		</div>
		
		<div id="ask_question">
			
			<table>
				<tr>
					<td colspan="3" align="left" width="30%">
						<button class="button_table" id="ask_question" onClick="askQuestion()">Ask New Question</button>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center" style="background: #febf01"><b>Questions<b></td>
					<td width="30%" align="center" style="background: #febf01"><b>Status<b></td>
				</tr>
				{{#questionList}}
				<tr>
					<td width="2%" align="center">
						<input type="checkbox" {{#questionId}}name={{questionId}}{{/questionId}} {{#questionId}}value={{questionId}}{{/questionId}}>
					</td>
					<td width="45%">
						<a href="{{base_path}}/{{community}}/ask_question/detail/{{questionId}}">{{#questionString}}{{questionString}}{{/questionString}}</a>
					</td>
					<td width="30%" align="center">
						{{#status}}{{status}}{{/status}}
					</td>
				</tr>
				<tr>
					<td colspan="3"><hr color="#F0F0F0"></td>
				</tr>
				{{/questionList}}
			</table>
		</div>
		
	</div>
	{{> WEB-INF/views/most_viewed_recommendations.mustache}}
</div>
</body>
<html>