<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
</head>
<body>
<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='{{base_path}}/welcome'><span>Vision to Value</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Your Communities</span></a>
            <ul>
               <li><a href='{{base_path}}/agile'><span>Agile</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Communities</span></a>
            <ul>
               <li><a href='{{base_path}}/developer'><span>Developers</span></a></li>
               <li class='last'><a href='{{base_path}}/ba'><span>Business BA</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Support</span></a></li>
   <li><a href='#'><span>Sign out</span></a></li>
</ul>
</div>
</body>
<html>
