<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
</head>
<body>
{{> WEB-INF/views/header.mustache}}
{{> WEB-INF/views/link_navigator.mustache}}
<div id="display_div">
	
	<div id="main_div">
		{{#bestPractice}}
		<div id="bestPractice_detail">
			<table width="100%">
				<tr>
					<td width="90%">{{#topic}}{{topic}}{{/topic}}</td>
					<td width="5%">
						<a href="{{base_path}}/{{community}}/library/detail/{{bestPracticeId}}/edit"><img src="{{base_path}}/resources/images/2.png" title="Edit topic" height="20" width="20"/></a>
					</td>
					<td width="5%">
						<a href="{{base_path}}/{{community}}/library/detail/delete/{{bestPracticeId}}"><img src="{{base_path}}/resources/images/3.png" title="Delete topic" height="20" width="20"/></a>
					</td>
				</tr>
				<tr><td colspan="3"><hr color="#F0F0F0"></td></tr>
				<tr>
					<td colspan="3">
						<div id="problem_statement_DescriptionTitle">Problem statement</div>
						<div id="problem_statement_Description">{{#problemStatement}}{{problemStatement}}{{/problemStatement}}</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div id="solutionTitle">Solution</div>
						<div id="solutionDescription">{{#solutionString}}{{solutionString}}{{/solutionString}}</div>
					</td>
				</tr>
			</table>
		</div>
		{{/bestPractice}}
	</div>
	{{> WEB-INF/views/most_viewed_topics.mustache}}
</div>
</body>
</html>