<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
</head>
<body>
{{> WEB-INF/views/header.mustache}}
{{> WEB-INF/views/link_navigator.mustache}}
<div id="display_div">
	
	<div id="main_div">
		{{#bestPractice}}
		<div id="bestPractice_detail_header">{{topic}}</div>
	
		<hr color="#E5E4E2">
	
		<div id="bestPractice_detailedDescription">{{solutionString}}</div>

		{{/bestPractice}}
	</div>
	<div id="view_div">
	</div>
	
</div>
</body>
</html>