<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
<script>
	
	function saveClick(){
	
		var checkedValues = $('input:checkbox:checked').map(function() {
    			return this.value;
		}).get();
		
		var doc = new jsPDF();
		var j = 20;
		for (var i = 0; i < checkedValues.length; i++) {
		
			{{#questionList}}
		
				if((checkedValues[i]).localeCompare({{questionId}}) == 0 ){
					
					doc.text(20, j, "{{questionString}}" );
					doc.text(20, j+10, "{{detailedDescription}}" );
					doc.text(20, j+30, "{{community}}" );
					doc.text(20, j+40, "{{category}}" );
					doc.text(20, j+50, "{{lastModifiedDate}}" );
					
					var k = 80;
					{{#commentList}}
						doc.text(20, k, "{{commentString}}" );
						doc.text(20, k+10, "{{date}}" );
						k=k+20;				
					{{/commentList}}
					
					j=k+20;
				}
				
			{{/questionList}}
				
			j=j+40;
		}
		
		doc.save('Library.pdf');
	}
</script>
</head>
<body>
{{> WEB-INF/views/header.mustache}}
{{> WEB-INF/views/link_navigator.mustache}}
<div id="display_div">
	<div id="main_div">
		<div id="best_practice_div">
			<img src="{{base_path}}/resources/images/4.png" title="Add topic" height="25" width="25"/> <a href="#"> Add new topic </a>
			<table>
				{{#questionList}}
				<tr>
					<td width="2%" align="center">
						<input type="checkbox" {{#questionId}}name={{questionId}}{{/questionId}} {{#questionId}}value={{questionId}}{{/questionId}}>
					</td>
					<td width="45%">
						<a href="{{base_path}}/{{community}}/library/detail/{{questionId}}">{{#questionString}}{{questionString}}{{/questionString}}</a>
					</td>
					<td align="right" width="30%">
						<font size="2" color="#B6B6B4">
							<i>modified 10 mins ago <img src="{{base_path}}/resources/images/5.png" height="20" width="15"/> <b>Username</b></i>
						</font>
					</td>
				</tr>
				<tr>
					<td colspan="3"><hr color="#F0F0F0"></td>
				</tr>
				{{/questionList}}
				<tr>
					<td colspan="3" align="right">
						<button class="button_table" id="saveclick" onClick="saveClick()">Save as PDF</button>
					</td>
				</tr>
			</table>
		</div>
		{{> WEB-INF/views/most_viewed_topics.mustache}}
	</div>
</div>
</body>
<html>