<div id="main_link_div">
	<div id="title"><span>{{communityName}} Community</span></div>
	<div id="link_div">
		<ul>
			<li><a href="{{base_path}}/{{community}}/ask_question">Ask Question</a></li>
    		<li><a href="{{base_path}}/{{community}}/library">Library</a></li>
    		<li><a href="{{base_path}}/{{community}}/questions">Questions</a></li>
    		<li><a href="{{base_path}}/{{community}}/scenarios">Scenarios</a></li>
 		</ul>	
 	</div>
</div>
