<script>
	$(document).ready(function() {
		var z = document.getElementById('{{page}}');
		z.style.cssText="background:#6AA121;";
	});
</script>
<div id="main_link_div">
	<div id="title"><span>{{communityName}} Community</span></div>
	<div id="link_div">
		<ul>
			<li id="ask_question"><a href="{{base_path}}/{{community}}/ask_question">Your Questions</a></li>
    		<li id="library"><a href="{{base_path}}/{{community}}/library">Repository</a></li>
    		<li id="scenarios"><a href="{{base_path}}/{{community}}/scenarios">Scenarios</a></li>
    		<li id="questions"><a href="{{base_path}}/{{community}}/questions">Recommendations</a></li>
 		</ul>	
 	</div>
</div>
