<div id="view_div">
	<table width=100%>
		<tr>
			<td height="25" align="center">
				<font size="3" color="#003367">
					<img src="{{base_path}}/resources/images/6.png" title="Questions" height="25" width="25"/> Most viewed recommendations
				</font>
			</td>
		</tr>
		<tr><td><hr color="#F0F0F0"></td></tr>
		{{#view_list}}
		<tr>
			<td>
				<a href="{{base_path}}/{{community}}/questions/detail/{{questionId}}">{{questionString}}</a>
			</td>
		</tr>
		<tr/>
		<tr><td><hr color="#F0F0F0"></td></tr>
		<tr/>
		{{/view_list}}
	<table>
</div>