<head>
<link rel="stylesheet" type="text/css" href="{{base_path}}/resources/css/question_tab_style.css" />
</head>
<body>
<table>
	{{#questionList}}
	<tr>
		<td align="center"><font size="4" color="#FF9900">1</font></td>
		<td align="left">
			<b>
				<a class="link" href="#">{{question}}<a>
			<b>
		</td>
	</tr>
	<tr>
		<td align="center"><font size="4" color="#FF9900">Answers</font></td>
		<td align="right">
			<font size="2" color="#B6B6B4">
				<i>modified 10 mins ago <b>Username</b></i>
			</font>
		</td>
	</tr>
	</tr>
		<td colspan="2"><hr color="#E5E4E2"></td>
	</tr>
	{{/questionList}}
</table>
</div>
</body>