<head>
{{> WEB-INF/views/common_header_tags.mustache}}
<script type="text/javascript">

	function  saveClick (){
		var doc = new jsPDF();
    	doc.text(20, 20, 'Hello world!');
    	doc.text(20, 30, 'This is client-side Javascript, pumping out a PDF.');
    	doc.addPage();
    	doc.text(20, 20, 'Do you like that?');
	    doc.save('Test.pdf');
	}
	
</script>
</head>
<body>
<div id="table_div">
<table>
	{{#questionList}}
	<tr>
		<td width="2%" align="center">
			<input type="checkbox" name={{questionId}} />
		</td>
		<td align="center"><font size="4" color="#FF9900">1</font></td>
		<td align="left">
			<b>
				<a class="link" href="#">{{questionString}}<a>
			<b>
		</td>
	</tr>
	<tr>
		<td/>
		<td align="center"><font size="4" color="#FF9900">Answers</font></td>
		<td align="right">
			<font size="2" color="#B6B6B4">
				<i>modified 10 mins ago <b>Username</b></i>
			</font>
		</td>
	</tr>
	</tr>
		<td colspan="3"><hr color="#E5E4E2"></td>
	</tr>
	{{/questionList}}
</table>
</div>
<div id="table_button_div">
	<button class="button_table" id="saveclick" onClick="saveClick()">Save as PDF</button>
	<button class="button_table" id="morequestions">More questions</button>
</div>
</body>
<html>