<div id="question_detail">

	{{#question}}
	<div id="question_detail_header">{{questionString}}</div>
	
	<hr color="#E5E4E2">
	
	<div id="detailedDescription">{{detailedDescription}}</div>
	
	<div id="answers">
		{{answerList}}
	
	
		{{answerList}}
	</div>
	
	
	{{/question}}
</div>