<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
<script>

	
</script>
</head>
<body>
{{> WEB-INF/views/header.mustache}}
{{> WEB-INF/views/link_navigator.mustache}}
<div id="display_div">
	<div id="main_div">
	
	
	</div>
	<div id="view_div">
		<table width=100%>
			<tr>
				<td>
					Most viewed questions
				</td>
			</tr>
			{{#view_questions}}
			<tr>
				<td>
					<a href="{{base_path}}/{{community}}/questions/detail/{{questionId}}">{{questionString}}</a>
				</td>
			</tr>
			{{/view_questions}}
		<table>
	</div>
</div>
</body>
<html>