<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/common_header_tags.mustache}}
</head>
<body>
{{> WEB-INF/views/header.mustache}}
<div id='image'>
	<img src="{{base_path}}/resources/images/1.png" border="0" />
</div>
</body>
</html>
