<!DOCTYPE html>
<html>
<head>
{{> WEB-INF/views/header.mustache}}
<link rel="stylesheet" type="text/css" href="{{base_path}}/resources/css/image_style.css" />
</head>
<body>
<div class='image'>
	<img src="{{base_path}}/resources/images/1.png" border="0" />
</div>
</body>
</html>
